@import '@/assets/scss/variables.scss';

// tirando os estilos padrões do css
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  background-color: $cor5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button, input, select, textarea {
  border: none;
  background: none;
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
