// cores usadas no projeto
$cor1: #A3D383;
$cor2: #239D60;
$cor3: #EF5C5C;
$cor4: #212125;
$cor5: #E1E1D7;

// fontes usadas no projeto
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Lora', serif;
$font-tertiary: 'Montserrat', sans-serif;
